/* Estilo del encabezado */
header {
    width: 100%; /* Ocupa todo el ancho de la página */
    height: 50vh; /* Altura del encabezado es un tercio de la altura de la ventana */
    background: url('/static/fondo.jpg') no-repeat center -500%;
    background-size: 90%; /* Escala la imagen para cubrir el área del encabezado */
    flex-direction: column; /* Aseguramos que los textos se apilen verticalmente */
    display: flex; /* Centra el texto dentro del encabezado */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    color: white; /* Color del texto */
    text-shadow: 2px 2px 4px rgba(24, 170, 151, 0.8); /* Sombra del texto */
    font-family: Arial, sans-serif;
    padding: 1rem; /* Espaciado interno */
}



